.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #61dafb
}


.input{
  font-family: 'Arial', sans-serif;
  outline: none;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  transition: all 0.3s ease;
  width: 50%;
  box-sizing: border-box;
}

/* CSS */
.button-85 {
  margin-left: 20px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.data{
  position: absolute;
  padding: 20px;
  padding-left: 70px;
  padding-right: 70px;
  top: 220px;
  left: 450px;
  max-width: 450px;
  max-height: 400px;
  background-color: rgb(229, 229, 140);
  box-shadow: 10px 10px 10px  gold , -10px -10px 10px gold;
  border-radius: 20px; 
}

.NoData{
  color: darkblue;
  font-size: 50px;
    transition: font-size 1s linear;
    opacity: 1;
    transition: opacity 1s linear;
}

.loading{
  height: 200px;
  width: 200px;
  mix-blend-mode: darken;
}

.hidden{
  width: 0;
  height: 0;
  visibility: hidden;
}